<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Qanaya&display=swap">
    <link rel="stylesheet" href="/styles/content.css">

    <title>Manga Reader</title>
    <!-- Your CSS and other headers -->
</head>
<body>
    <header class="navbar">
        <div class="container-header">
            <a href="/" class="navbar-brand"> <h1 class="navbar-brand" style="font-family: Qanaya, sans-serif; text-align: center;">Manga Reader</h1> </a>
        </div>
    </header>